*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.container-head{
    margin-top: 20px;
    border-radius: 20px;
    width: 700px;
    margin: auto;
    text-align: center;
    background-color: aqua;
}
.warp-card{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.warp-card2{
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    background-color: rgb(156, 156, 228);
    border-radius: 0px;
    padding: 20px;
    margin-right: 20px;
}
.harga2{
    margin-top: 40px;
}
h1{
    text-align: center;
}


.sewa{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}


.konten{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.aktif{
    display: none;
}

.peraturan{
    background-color: rgb(156, 156, 228);
    width: 300px;
    padding: 30px;
}
